	*{
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.contenedor{
		width: 100%;
		height: 900px;
		background: #333;
		
		/*FLEX*/
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		
	}
	
	.header1{
		background: #FFF;
		width: 20%;
		height: 60px;
		color:#900;
		margin: 0px;
		padding: 5px;
		font-size: 20px;
		text-align:center;
		font-family:Arial, Helvetica, sans-serif;
	
		box-sizing:border-box;
		
	}
	
	
	.header1-interno{
		background: #456;
		width: 100%;
		height: 50px;
		color:#FFF;
		margin: 0px;
		padding: 10px;
		font-size: 20px;
		text-align: center;
		border-radius: 4px 4px 4px 4px;
		box-sizing:border-box;
	}
	
	
	.header2{
		background: #333;
		width: 80%;
		height: 60px;
		color:#fff;
		margin: 0px;
		padding: 20px;
		font-size: 40px;
		text-align: center;
		border-radius: 4px 4px 4px 4px;
	
		/*FLEX*/
		display:flex;
		flex-direction: row;
		flex-wrap:wrap;
		justify-content: flex-start;
	}
	
	.menu{
		background: #333;
		width: 20%;
		height: 1000px;
		color:#FFF;
		margin: 0px;
		padding: 20px;
		font-size: 15px;
		text-align: center;
	
		
		
		/*FLEX*/
		align-items: flex-start;
		flex-direction:column;
		flex-wrap:wrap;
	
	}
	
	.form-control{
			width:100%;
			height:40px;
			margin-top:3%;
			margin-bottom:3%;
			background-color:#444;
			font-family:Arial, Helvetica, sans-serif;
			color:#FFF;
			text-align:left;
			border-radius: 4px 4px 4px 4px;
			line-height:5%;
			padding:20px;
		}
	
	
	
	.form-control:hover{
			width:100%;
			height:40px;
			background-color:#930;
			background-position:left;
			font-family:Arial, Helvetica, sans-serif;
			border-color:#F00;
			text-align:left;
			border-radius: 4px 4px 4px 4px;
			
		}   
	
		
		
	
	
	.articulo{
		background: #FFF;
		width: 80%;
		height: 845px;
		color:#000;
		margin: 0px;
		padding: 18px;
		font-size: 40px;
		text-align: center;
		
		
		/*FLEX*/
	}

	.articulo-interno{
		background: #456;
		width: 103 %;
		height: 987px;
		color:#000;
		margin: -10px;
		padding: 30px;
		font-size: 40px;
		text-align: center;
		border-radius: 4px 4px 4px 4px;
		
		/*FLEX*/
	}
	/*.footer{
		background: #00B285;
		width: 100%;
		height: 100px;
		color:#CCC;
		margin: 0px;
		padding: 20px;
		font-size: 40px;
		text-align: center;
	
	
		FLEX*/
		display:flex;
		flex-direction:;
		flex-wrap:wrap;
		justify-content: flex-end;*/
	
	}
.header2-interno{
		background: #fff;
		width: 100%;
		height: 50px;
		color:#FFF !important;
		margin: 0px;
		padding: 10px;
		font-size: 20px;
		text-align: center;
		border-radius: 4px 4px 4px 4px;
		box-sizing:border-box;
	}
.form-control2{
			width:100%;
			height:40px;
			margin-top:3%;
			margin-bottom:3%;
			background-color:#fff;
			font-family:Arial, Helvetica, sans-serif;
			color:#444;
			text-align:left;
			border-radius: 4px 4px 4px 4px;
			line-height:5%;
			padding:20px;
    border-bottom-color: #445566;
    
		}
	.contenedor_proveedores{
		width: 100%;
		height: 1000px;
		background: #333;
        margin: auto;
		
		/*FLEX*/
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		
	}
	.menu_proveedores{
		background: #333;
		width: 20%;
		color:#FFF;
		padding: 20px;
		font-size: 15px;
	
		
		
		/*FLEX*/
		align-items: flex-start;
		flex-direction:column;
		flex-wrap:wrap;
	
	}




/**********************************************************************/

/* Este es el estilo para el espacio en donde el usuario escribe los datos*/
input[type=text],[type=password], select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 8px;
    opacity: 0.9;

}
.contenedor{

    /* Flexbox */
    
    display: flex;
    flex-direction: row;

    /* fin de Flexbox */

    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    background-color:white;
    

    
}

.contenedor_interno_editar_proveedores,.contenedor-empleados{
     /* Flexbox */
    
    display: flex;
    flex-direction: row;

    /* fin de Flexbox */

    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    background-color:white;
    height: 101%;
    

    
}

/* cosas dentro del contenedor */
.objeto{
    
    border: 5px solid #333;
    border-radius: 8px;
    box-sizing: border-box;
}


/*botones de diferente color */ 

.buttonVerde{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 20px;
    cursor: pointer;
}

.buttonRojo{
    background-color: red; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 20px;
    cursor: pointer;
}
.buttonAzul{
    background-color: blue; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 20px;
    cursor: pointer;
}

/* Este es para alinear el texto de los labels para que queden en la izquierta*/
.label {
text-align: left;

}

/* Estos son para la tabla y su interior*/
/* Prueba
.tabla {
    border-collapse: collapse;
    width: 100%;
}
.contenido{
    text-align: left;
    padding: 8px;

}
.Encabezado {
    text-align: left;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}
*/
th, td {
    text-align: left;
    padding: 8px;
    border-radius: 8px;
    font-size: 50%;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #155E63;
    color: white;
    border-radius:8px;
}
.form-horizontal,.login-form{
    font-size: 50%;
    width: 414.563px;
    padding: 5% !important;
}


.text-center{
    margin-top: 4%;
    margin-bottom: 4%;
}

.form-group{
    padding: 4%;
}
.table-responsive{

    /* Flexbox */
    
    display: flex;
    flex-direction: row;

    /* fin de Flexbox */

    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    background-color:white;
    width: 100%;
    

    
}/*
.articulo_listar_proveedores{
		background: #FFF;
		width: 103%;
		height: 845px;
		color:#000;
		margin: 0px;
		padding: 18px;
		font-size: 40px;
		text-align: center;
    display: flex;
    flex-direction: column;
	}

	.articulo-interno-listar-proveedores{
		background: #456;
		width: 103 %;
		height: 987px;
		color:#000;
		margin: -10px;
		padding: 30px;
		font-size: 40px;
		text-align: center;
		border-radius: 4px 4px 4px 4px;
	}
    */


.articulo-interno-empleados{
    background: #456;
		width: 103 %;
		height: 1250px;
		color:#000;
		margin: -10px;
		padding: 30px;
		font-size: 40px;
		text-align: center;
		border-radius: 4px 4px 4px 4px;
}
	.articulo-empleados{
		background: #FFF;
		width: 80%;
		height: 1250px;
		color:#000;
		margin: 0px;
		padding: 18px;
		font-size: 40px;
		text-align: center;
		
		
		/*FLEX*/
	}

	.menu-empleados{
		background: #333;
		width: 20%;
		height: 1258px;
		color:#FFF;
		margin: 0px;
		padding: 20px;
		font-size: 15px;
		text-align: center;
	
		
		
		/*FLEX*/
		align-items: flex-start;
		flex-direction:column;
		flex-wrap:wrap;
	
	}


.articulo-interno-empleados-editar{
    background: #456;
		width: 103 %;
		height: 1400px;
		color:#000;
		margin: -10px;
		padding: 30px;
		font-size: 40px;
		text-align: center;
		border-radius: 4px 4px 4px 4px;
}
	.articulo-empleados-editar{
		background: #FFF;
		width: 80%;
		height: 1400px;
		color:#000;
		margin: 0px;
		padding: 18px;
		font-size: 40px;
		text-align: center;
		
		
		/*FLEX*/
	}

	.menu-empleados-editar{
		background: #333;
		width: 20%;
		height: 1408px;
		color:#FFF;
		margin: 0px;
		padding: 20px;
		font-size: 15px;
		text-align: center;
	
		
		
		/*FLEX*/
		align-items: flex-start;
		flex-direction:column;
		flex-wrap:wrap;
	
	}