*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*******************************/
/*             Login           */
/*******************************/

.login{
	width: 300px;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (max-width: 400px){
	.login{
		width: 90%;
	}
}

/*******************************/
/* Espacios de Campos de Texto */
/*******************************/


input[type=text],[type=password], select {
    width: 92%;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 8px;
    opacity: 0.9;
    font-family:Arial, Helvetica, sans-serif;
}
input[type=text]:hover,[type=password]:hover, select:hover {
    width: 92%;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    border: none;
    background: #CCC;
    border-radius: 8px;
    opacity: 0.9;
    font-family:Arial, Helvetica, sans-serif;

}

/*******************************/
/*          Títulos            */
/*******************************/
.tituloFormularios{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 13px;
    font-size: 24px;
    color: #f1f1f1;
}
.contenedorTitulo{
    background: #333;
    height: 60px;
    border-radius: 10px 10px 10px 10px;
}

/*******************************/
/*            Botones          */
/*******************************/
.btn_central{
    width: 40%;
    margin: 13px;
}
.login-btnRojo, .registrarse-btnRojo{
    width: 40%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #930; 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 13px;
    cursor: pointer;
}
.login-btnRojo:hover, .registrarse-btnRojo:hover{
    width: 40%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #F1948A; 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 13px;
    cursor: pointer;
}


/*******************************/
/*             Modal           */
/*******************************/

.ventanaModal{
    margin: auto;
    width: 50%;
    height: 100%;
    color: white;
    background-color: #000;
    opacity: 0.5;
}

.cont{
    width: 800px;
    height: 1200px;
    background-color: white;
    border: solid 2px black;
    margin: auto;
    padding: 20px;
}
/*******************************/
/*        Modificaciones       */
/*******************************/

.divCentral{
    margin-left: 11%;
    top: 0;
}

.div_canvas{
    margin-left: 11%;
    width: 770px;
    height: 485px;
}

.centrarDivTxt{
    text-align: center;
    margin: auto;
}

.dropdown{
    margin: auto;
    width: 50%;
}
/*******************************/
/*     Fin de Modificaciones   */
/*******************************/

.contenedorPrincipal{
    width: 100%;
    height: 60px;
    background: #333;  
}

@media screen and (max-width: 1000px){
    .main{width:100%;}
    .menuNav{width:100%;}
}
@media screen and (max-width: 600px){
    .menuNav{
        left:0%;
        top:0;
        margin-left:-300px;
        
    }
}




/*CSS formularios y tablas generales	
.formularios, .tablas{
    background: #FFF;
    width: 40%;
    height: 950px;
    color:#000;
    margin: -10px;
    padding: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 4px 4px 4px 4px;	
    font-family:Arial, Helvetica, sans-serif;
    /*FLEX
}*/





/*CSS Botones Agregar/Editar/Eliminar/Volver/Cancelar/Guardar*/	
.agregar-BtnVerde{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 20px;
    cursor: pointer;
}

.editar-BtnAzul{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: blue; 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 20px;
    cursor: pointer;
}

.cancelar-BtnAqua{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #1AE6B8; 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 20px;
    cursor: pointer;
}

.guardar-BtnNaranja{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #F60; 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 20px;
    cursor: pointer;
}


.eliminar-BtnRojo{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: red; 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 20px;
    cursor: pointer;
}

.volver-BtnMorado{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #609; 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*border-radius: 8px;*/
    margin: 20px;
    cursor: pointer;
}

/*Efecto Botones*/
.agregar-BtnVerde:hover,.editar-BtnAzul:hover,.eliminar-BtnRojo:hover,.volver-BtnMorado:hover,.guardar-BtnNaranja:hover,.cancelar-BtnAqua:hover {
    background-color: #930; 
}

/*
th, td {
    text-align: center;
    padding: 6px;
    border-style: solid;
    border-color: white;
    /*border-radius: 8px;*/
/*    font-family:Arial, Helvetica, sans-serif;
    
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #155E63;
    color: white;
    /*border-radius:8px;*/
 /*   font-size: 18px;	
}*/
