*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*******************************/
/*             Login           */
/*******************************/

.login{
	width: 300px;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    border-color: #930;
    text-align: center;
    color: #930;

}

@media (max-width: 400px){
	.login{
		width: 90%;
	}
}

.btn_central{
    width: 40%;
    margin: 13px;
}
.login-btnRojo, .registrarse-btnRojo{
    width: 40%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #930; 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 13px;
    cursor: pointer;
}
.login-btnRojo:hover, .registrarse-btnRojo:hover{
    width: 40%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #F1948A; 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 13px;
    cursor: pointer;
}

.recPwd{
    color:black;
    cursor: pointer;
}

.recPwd:hover{
    border-bottom: 1px solid black;
}

/*******************************/
/*         dashboard           */
/*******************************/

.cont_Dash{
    margin-left: 5%;
    width: 89%;
    height: 200px;
    background-color: #e3e5e8;
    padding: 0px 25px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;

}

.t_factura{
    margin-right: 10px;
    width: 250px;
    height: 100px;
    background-color:rgb(95, 183, 96);
    margin: auto;
    border: 2px solid rgb(245, 245, 245);
    border-radius: 5px;
}

.block_fact{
    text-align: center;
    margin-top: 5%;
    color: white;
}

.fact_num{
    margin-top: 5%;
    color: white;
    text-align: center;
    font-size: 30px;
}

.t_pagar{
    text-align: center;
    width: 250px;
    height: 100px;
    background-color:rgb(52, 117, 176);
    margin: auto;
    border: 2px solid rgb(245, 245, 245);
    border-radius: 5px;
}

.block_pagar{
    margin-top: 5%;
    color: white;
    text-align: center;
    
}

.fact_pag{
    margin-top: 5%;
    color: white; 
    text-align: center;
    font-size: 30px;
}

.t_planilla{
    width: 250px;
    height: 100px;
    background-color:rgb(238, 172, 87);
    margin: auto;
    border: 2px solid rgb(245, 245, 245);
    border-radius: 5px;
    text-align: center;
}

.block_planilla{
    margin-left: 25%;
    margin-top: 5%;
    color: white;
    text-align: center;
    font-size: 30px;
}

.block_plantilla{
    margin-top: 5%;
    color: white;
    text-align: center;
}

.block_cantidad{
    margin-top: 5%;
    color: white;
    text-align: center;
}

.t_cantidad{
    width: 250px;
    height: 100px;
    background-color:rgb(215, 84, 82);
    margin: auto;
    border: 2px solid rgb(245, 245, 245);
    border-radius: 5px;
}

.fact_cant{
    margin-top: 5%;
    color: white;
    text-align: center;
    font-size: 30px;
}

.div_canvas{
    margin-top: 20px;
    margin-left: 65%;
    bottom: 10px;
    width: 250px;
    height: 250px;
}

/*******************************/
/* Espacios de Campos de Texto */
/*******************************/


input[type=text],[type=password]{
    width: 92%;
    height: 50px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 8px;
    opacity: 0.9;
    font-family:Arial, Helvetica, sans-serif;
}

input [type=date] {
    width: 92%;
    height: 50px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius:7px 7px 7px 7px; 
    opacity: 0.9;
    font-family:Arial, Helvetica, sans-serif;
}

input[type=email]{
    width: 92%;
    height: 50px;
    padding: 3px;
    margin: 12px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius:7px 7px 7px 7px; 
    opacity: 0.9;
    font-family:Arial, Helvetica, sans-serif;

}


.date{
    width: 92%;
    height: 50px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius:7px 7px 7px 7px; 
    opacity: 0.9;
    font-family:Arial, Helvetica, sans-serif;
}
input[type=text]:hover,[type=password]:hover, [type=email]:hover, .date:hover, .select:hover{
    width: 92%;
    height: 50px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    border: none;
    background: #CCC;
    border-radius:7px 7px 7px 7px; 
    opacity: 0.9;
    font-family:Arial, Helvetica, sans-serif;

}
select,option{
    width: 92%;
    height: 50px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius:4px 4px 4px 4px; 
    opacity: 0.9;
    font-family:Arial, Helvetica, sans-serif;
}
.select,option{
    width: 92%;
    height: 50px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius:4px 4px 4px 4px; 
    opacity: 0.9;
    font-family:Arial, Helvetica, sans-serif;
}

/*******************************/
/*          Títulos            */
/*******************************/
.tituloFormularios{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 13px;
    font-size: 24px;
    background: #333;   
    color: #f1f1f1;
    border-radius: 20px 20px 20px 20px;
    font-weight: bold;
}
.contenedorTitulo{
    background: #930;
    line-height: 28px;
    height: 60px;
    border-radius: 20px 20px 20px 20px;
}
.tituloTablas{
    color:#930;
    margin-top: 2%;
    text-align: center;
    font-size: 28px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/*******************************/
/*       Formularios           */
/*******************************/

.form-horizontal{
    box-sizing: border-box;
    width: 80%;
    margin:auto;
    max-width: 100%;
    margin-top:2%;
    padding: 5%;
    position: relative;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px
}

.form-horizontal-2{
    box-sizing: border-box;
    width: 92%;
    margin:auto;
    max-width: 100%;
    margin-top:2%;
    padding: 5%;
    position: relative;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px
}
.form-horizontal-3{
    box-sizing: border-box;
    width: 50%;
    margin:auto;
    max-width: 100%;
    margin-top:2%;
    padding: 5%;
    position: relative;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;
}
.form-horizontal-4{
    box-sizing: border-box;
    width: 95%;
    margin:auto;
    max-width: 100%;
    margin-top:1%;
    padding: 2%;
    position: relative;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;
}
.form-horizontal-5{
    box-sizing: border-box;
    width: 100%;
    margin:auto;
    max-width: 100%;
    margin-top:1%;
    padding: 2%;
    position: relative;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;
}
.form-horizontal-6{
    box-sizing: border-box;
    width: 100%;
    margin:auto;
    max-width: 100%;
    margin-top:0.5%;
    padding: 0.5%;
    position: relative;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;
}
.form-2{
    font-size: 12px;
}

.form-3{
    font-size: 12px;
    color: #930;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 10px;
    margin-top: 15px;
}
.col-sm{
  display: block;
  width: 40%;
  margin-bottom: 20px;

}

/*CSS Nombres de Formulario*/
.form{
    color: #930;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}


/*******************************/
/*            Botones          */
/*******************************/

.editar-Btn{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #FFC300; 
    border: none;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    font-style: initial;
}

.eliminar-Btn{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: red; 
    border: none;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

 .agregar-BtnVerde,.reporte-BtnVerde,.regresar-BtnVerde,.borrar-BtnVerde,.factura:hover,.cancelar-BtnVerde,.guardar-BtnVerde,.generarFactura-BtnVerde,.factura-BtnVerde{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 5px 22px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

/*Efecto Botones*/
.cancelar-BtnVerde:hover, .guardar-BtnVerde:hover, .agregar-BtnVerde:hover,.borrar-BtnVerde:hover,.reporte-BtnVerde:hover,.generarFactura-BtnVerde:hover,.regresar-BtnVerde:hover,.editar-Btn:hover,.eliminar-Btn:hover,.factura-BtnVerde:hover {
    background-color: #930; 
}

/*******************************/
/*            Tablas           */
/*******************************/

th, td {    
    text-align: center;
    padding: 6px;
    border-style: solid;
    border-color: white;
    /*border-radius: 8px;*/
    font-family:Arial, Helvetica, sans-serif;
    
}

table th {
    text-align: center;
}

table tr:nth-child(4) {
    text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2}


th {
    text-align: center;
    background-color: #930;
    color: white;
    /*border-radius:8px;*/
    font-size: 16px;
    border-radius: 8px;	
}

.th-2 {
    text-align: center;
    background-color: #930;
    color: white;
    /*border-radius:8px;*/
    font-size: 13px;
    border-radius: 8px;	
}

textarea{
    border-radius: 10px 10px 10px 10px;
    border-color:#930;    
}
/*******************************/
/*             Modal           */
/*******************************/

.ventanaModal{
    margin: auto;
    width: 50%;
    height: 100%;
    color: white;
    background-color: #000;
    opacity: 0.5;
}

.cont{
    width: 800px;
    height: 1200px;
    background-color: white;
    border: solid 2px black;
    margin: auto;
    padding: 20px;
}
/*******************************/
/*        Modificaciones       */
/*******************************/

.divCentral{
    margin-left: 11%;
    top: 0;
}

.div_canvas{
    margin-left: 11%;
    width: 770px;
    height: 485px;
}

.centrarDivTxt{
    text-align: center;
    margin: auto;
}

.dropdown{
    margin: auto;
    width: 50%;
}
/*******************************/
/*     Fin de Modificaciones   */
/*******************************/

.contenedorPrincipal{
    width: 100%;
    height: 60px;
    background: #333;  
}

@media screen and (max-width: 1000px){
    .main{width:100%;}
    .menuNav{width:100%;}
}
@media screen and (max-width: 600px){
    .menuNav{
        left:0%;
        top:0;
        margin-left:-300px;
        
    }
}