ul.acorh,
ul.acorh * {
margin: 0;
padding: 0;
border: 0;
}
ul.acorh {
padding: 0;
list-style: none;
width: 100%;
font-size: 15px;
}
ul.acorh li {
list-style: none;
}
ul.acorh li a {
color: #fff;
width: 140px;
display: block;
padding: 10px 10px 10px 20px;
background: #333;
border-bottom: 1px solid #000;
border-top: 1px solid #;
text-decoration: none;
box-sizing: border-box;
}
ul.acorh li ul {
max-height: 0;
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
transition: .3s all ease-in;
}
ul.acorh li li a {
background: #999;
color: #000;
font-size: 12px;
border: 0;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
}
ul.acorc li li:last-child a {
border-bottom: 0;
}
ul.acorh li:hover ul {
max-height: 300px;
transition: .3s all ease-in;
}
/* Efecto del Menu*/
ul.acorh li a:hover {
background: #993344;
color: #fff;
border-radius: 6px 6px 6px 6px;
}

