ul.acorh,
ul.acorh * {
margin: 0;
padding: 0;
border: 0;
}

.back_menu{
width: 140px;
background-color: #333;
position: relative;
height: 100%;

}

ul.acorh {
padding: 0;
list-style: none;
width: 100%;
font-size: 15px;
transition: .3s all ease-in;
}

ul.acorh li {
list-style: none;
transition: .3s all ease-in;
}

ul.acorh li a {
color: #fff;
width: 140px;
display: block;
padding: 10px 10px 10px 20px;
background: #333;
border-bottom: 1px solid #000;
border-top: 1px solid #000;
text-decoration: none;
box-sizing: border-box;
transition: .3s all ease-in;
}
ul.acorh li ul {
max-height: 0;
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
transition: .3s all ease-in;
}
ul.acorh li li a {
background: #999;
color: #000;
font-size: 12px;
border: 0;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
transition: .3s all ease-in;
}

ul.acorc li li:last-child a {
border-bottom: 0;
transition: .3s all ease-in;
}
ul.acorh li:hover ul {
max-height: 300px;
transition: .3s all ease-in;
}
/* Efecto del Menu*/
ul.acorh li a:hover {
background: #930;
color: #fff;
border-radius: 0px 8px 8px 0px;
transition: .3s all ease-in;
}

